*{
    -webkit-box-sizing: border-box; 
    -moz-box-sizing:border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{ 
    font-family: 'Noto Kufi Arabic';
    overflow-x: hidden !important;
    color: #000;
    position: relative;
}
.head-border::after {
    content: '';
    display: block;
    background-color: #fbe100;
    width: 97px;
    height: 19px;
    border-top-left-radius: 37%;
    margin: -16px 0px;
}
.head-border-center::after {
    content: '';
    display: block;
    background-color: #fbe100;
    width: 97px;
    height: 19px;
    border-top-left-radius: 37%;
    margin: -16px auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
ul
{
    list-style: none;
}
a,
textarea:focus,
input:focus,
a:focus,
i:focus,
button:focus,
a:hover,
a:visited {
    text-decoration: none;
    outline: 0px !important;
    display: block;
}

nav i.fas.fa-bars.fa-lg {
    color: #814e96;
  
}

.background-bottom{
    background: #FFFCEA;
    width: 100%;
    height: 38%;
    display: block;
    position: absolute;
    z-index: -1;
    bottom: 0;
    /* border-top-right-radius: 46px;
    border-top-left-radius: 46px; */
}
.background-top{
    background: #FFFCEA;
    width: 100%;
    height: 65%;
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    /* border-bottom-right-radius: 29px;
    border-bottom-left-radius: 29px; */
}

hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    width: 98%;
    border-top: 1px solid rgba(0,0,0,.1);
}
.content  .card {
    color: #fff;
    margin-bottom: 20px;
    padding: 11px;
    margin-left: 41px;
     border:none; 
    border-radius: 21px;
}
/* start Code  */

/* start Login */
/* .log-class{
    background: url('../images/Group 67@2x.png');

} */

.log-class img.back-img {
    width: 78%;
    height: 81%;
    opacity: .15;
    position: absolute;
    left: 14%;
    top: 2%;
    transform: rotate(-5deg);
}

.login{
    overflow: hidden;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 55%;
    margin-left: -335px;
    margin-top: -253px;
}
.login img{
    width: 700px;
    margin-bottom: 25px;
}
.login h5{
    font-size: 40px;
    color: #2F5567;
    margin-bottom: 35px;
}
.login .forms-l {
    display: inline-block;
    position: relative;

}

.login .forms-l input {
    border: none;
    border-bottom: 1px solid #707070;
    width: 84%;
    text-align: right;
    padding: 7px;
    font-size: 17px;
    color: #919191;
    background: transparent;

}

.login .forms-l input:focus {
    transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    /* transform: translate(0, -20px); */
    padding: 0 0 14px 0 !important;
}
.login .forms-l img.iconns-login {
    position: absolute;
    width: 32px;
    top: 5px;
    left: 46px;
}


.login  .button-send {
    display:inline-block;
    margin: 54px auto;
    background: transparent;
    border: none;
    font-size: 24px;
    color: #2F5567;
    transition: .8s all ease-in-out;
    -webkit-transition: .8s all ease-in-out;
}

.login .button-send:hover {
    border: 1px solid #04619A;
    padding: 5px 25px;
    border-radius: 23px;
    box-shadow: 7px 6px 10px -7px #04619A;
    transition: .8s all ease-in-out;
    -webkit-transition: .8s all ease-in-out;
    /* transform: translate(0, -20px); */
   
}
/* End Login */

/* start Home Page */

.home-body, .wrap {
    height: 100%;
  }
  .wrap { box-sizing:border-box; }
  
  form {height:100%}
  .wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -60px;
    /* for sticky footer to not go below page */
    /* for sticky header to not overlap content */
  }
  i.fas.fa-bars {
    float: right;
    margin-right: 273px;
    margin-top: 21px;
    font-size: 23px;
    color: #ffcb3f;
    cursor: pointer;
    display: none;
}
#sidebar-wrapper.active {
    display: block;
    width: 100%;
    right: 0px;

}
.content.hidden{
    display: none;
}
.header.hidden{
    position:initial;
}
  /* .footer {
    background-color: green;  
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
  } */
  .content {
    padding-top: 99px;
     height:100%  !important; 
    background-color: #EFF2FB;
    text-align: right;
    padding-right: 274px;
  }
  .header {
    background-color: #fff;
    height: 65px; 
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999999999;
  }
 .wrap .header ul.nav-ul{
    display: inline-block;
    margin-left: 40px;
    margin-top: 6px;
 }

 .wrap .header ul.nav-ul li{
    display: inline-flex;
    margin-left: 40px;
    margin-top: 11px;
    cursor: pointer;
    /* position: relative; */
 }
 .wrap .header ul.nav-ul li.nav-ul-li1 {
    position: absolute;
    top: 4px;
    left: 14px;

}
.wrap .header ul.nav-ul li.nav-ul-li2{
    position: absolute;
    top: -2px;
    left: 65px;

}
 .wrap .header ul.nav-ul li small {
    position: absolute;
    top: 32px;
    right: -21px;
    font-size: 10px;
    width: 62px;
}
.wrap .header ul.nav-ul li .notification-logo{
    background: #eee;
    padding: 4px 8px;
    border-radius: 50%;
}
.wrap .header ul.nav-ul li .notification-number {
    position: absolute;
    top: -7px;
    right: -9px;
    background: #FFCB3F;
    padding: 0px 7px;
    color: #fff;
    /* font-size: 10px; */
    text-align: center;
    border-radius: 50%;
}

.notification-title {
    position: absolute;
    top: 52px;
    left: 20px;
    font-size: 15px;
    width: max-content;
    padding: 5px 18px;
    border-bottom-left-radius: 14px;
    background: #FFCB3F;
    color: #fff;
    border-bottom-right-radius: 14px;
    border-top-right-radius: 14px;

}
.notification-title:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 12px solid #ffcb3f;
    position: absolute;
    top: -12px;
    left: 0px;  
}
  #sidebar-wrapper {
      z-index: 1000;
      position: fixed;
      right: 250px;
      width: 0;
      height: 100%;
      margin-right: -250px;
      text-align: right;
      overflow: hidden;
      background: #fff;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
  }
  
  #wrapper.toggled #sidebar-wrapper {
      width: 250px;
  }
  
  #page-content-wrapper {
      width: 100%;
      position: absolute;
      padding: 15px;
  }
  
  #wrapper.toggled #page-content-wrapper {
      position: absolute;
      margin-right: -250px;
  }
  
  /* Sidebar Styles */
  
  .sidebar-nav {
      position: absolute;
      top: 0;
      width: 250px;
      margin: 0;
      padding: 0;
      list-style: none;
  }
  
  .sidebar-nav li {
      text-indent: 20px;
      line-height: 40px;
  }
  .sidebar-nav li i {
    display: inline;
    color: #d5d5d5;
}
  .sidebar-nav li.sidebar-profile{
    text-align: center;
    margin: 36px 0 12px;
  }
  .sidebar-nav li.sidebar-profile p{
    margin-top: 10px;
    color: #9F9F9F;
    font-weight: 600;
    line-height: 2;
  }
  .sidebar-nav li a {
    display: block;
    text-decoration: none;
    margin-right: 15px;
    font-size: 17px;
      color: #999999;

  }
  .sidebar-nav li a.active {
    color: #000;
    background: #eee;
    /* width: 100%; */
    margin: 0px 0px 0 8px;
    padding-right: 17px;
    font-weight: 700;
  }
 
  .sidebar-nav li a:hover {
      text-decoration: none;
      color: #000;
    background: #eee;

  }
  
  .sidebar-nav li a:active,
  .sidebar-nav li a:focus {
      text-decoration: none;
  }
  
  .sidebar-nav .sidebar-brand {
      height: 65px;
      font-size: 18px;
         width: 91%;
      line-height: 60px;
  }
  .sidebar-nav .sidebar-brand img{
    width: 100%;
    margin-right: 8px;
    /* box-shadow: 3px 4px 4px -4px #989898; */
} 
  .sidebar-nav  .sidebar-brand a {
      color: #999999;
  }
  
  .sidebar-nav  .sidebar-brand a:hover {
      color: #fff;
      background: none;
  }

  
  @media(min-width:768px) {
      #wrapper {
          padding-left: 250px;
      }
  
      #wrapper.toggled {
          padding-left: 0;
      }
  
      #sidebar-wrapper {
          width: 250px;
          z-index: 999999999999999999999999999;
      }
  
      #wrapper.toggled #sidebar-wrapper {
          width: 0;
      }
  
      #page-content-wrapper {
          padding: 20px;
          position: relative;
      }
  
      #wrapper.toggled #page-content-wrapper {
          position: relative;
          margin-right: 0;
      }
  }
/* End Home Page */
  /* start content Home Page*/
.content .head-content{
            color: #9F9F9F;
            font-size: 18px;
            margin-right: 13px;
}
.content .info-Subjects {
    margin: 13px 0 24px 0;
    background: #fff;
    border-radius: 11px;
    padding: 13px;
}
.content .info-Subjects h5{
    color: #FFCB3F;
    font-size: 40px;
    margin-top: 6px;
    margin-bottom: 15px;
}
.content .info-Subjects p{
    color: #2F5567;
}

.content .info-Subjects ul li{
    display: inline-block;
    width: 30%;
    font-size: 20px;
    color: #2F5567;
}
.content .info-Subjects ul li p{
    font-size: 20px;
    color: #2F5567;
    margin-bottom: -2px;
}
.content .info-Subjects ul li small{
    font-size: 8px;
    color: #2F5567;
}
.content .info-Subjects ul li strong{
    color: #B52622;
}
.content .info-Subjects ul li .progress{

margin-top: 7px
}

.content .info-Subjects ul li .progress-bar {
  
    background-color: #FF3F3F;
}


.content  .card-1 {
    background: #FFCB3F;
}
.content  .card-2 {
    background: #2F5567;
}
.content .card p{
    font-size: 21px;
    margin-bottom: 3px;
}
.content .card h5{
    margin-right: 31px;
    font-size: 33px;
    margin: 1px 31px 10px 0;
}

.content .last-added {
    margin-top: 12px;
    background: #fff;
    border-radius: 14px;
    padding: 13px;
}
.content .last-added h4{
    color: #2F5567;
    font-size: 31px;
    margin-bottom: 21px;
    font-weight: 700;
}

.content .right-head {
    margin-left: 0;
    overflow: hidden;
    text-align: center;
    font-family: none;
}

.content .right-head .Lecture-info-teacher  p{
    font-size: 20px;
}

.content .right-head .Lecture-info-date p{
    font-size: 20px;
}
.content .right-head .Lecture-info-date  p small{
    color: #B52622;
    font-weight: 700;
}
.content .right-head .image-right-head{
    text-align: left;
    float: left;
}
.content .right-head  img{
    height: 100%;
    /* width: 100%; */
}





.last-added .section-added-info {
    background: #EFF2FB;
    margin-bottom: 14px;
    height: 65px;
    padding: 8px;
    text-align: center;
    color: #9F9F9F;
    width: 100%;
    border-radius: 15px;
    /* height: 90px; */
    overflow: hidden;
}


.last-added .section-added-info.active {
    background: #48E152;
    color: #fff;
}
.last-added .section-added-info.active small{
    color: #000;

}
.last-added .section-added-info p {
    display: inline;
    line-height: 1.8;
    font-size: 11px;
    font-weight: bolder;
}
.last-added .section-added-info small{
    color: #B52622;
    font-weight: 800;
}
  /* End content Home Page*/

/* End Code  */




/*start responsive */
/* Extra small devices (phones, 600px and down) */
/* // Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) { 
    /* Start login */

    form {
        height: 100%;
        overflow: hidden;
    }
    .login {
        overflow: hidden;
        text-align: center;
        position: relative;
        left: 0;
        top: 0;
        margin-left: 0;
        margin-top: 36%;
    }
    .login img {
        /* width: 306px; */
        width: 92%;
        margin-bottom: 19px;
    }
    .login h5 {
        font-size: 22px;
        color: #2F5567;
        margin-bottom: 20px;
    }
    .login .forms-l input {
        /* width: initial; */
        width: 90%;
        padding: 7px;
        margin-bottom: 13px;
    }
    .login .forms-l input:focus {
     
        display: inline;
    }
    .login .button-send {
        border: 1px solid #04619A;
        padding: 5px 25px;
        border-radius: 23px;
        box-shadow: 7px 6px 10px -7px #04619A;
        transition: .8s all ease-in-out;
        -webkit-transition: .8s all ease-in-out;
        margin: 40px auto;
        /* transform: translate(0, -20px); */
    }
    .log-class img.back-img {
        display: none;
    }
    /* End login */

    /* Start Home */
    .wrap {
        overflow-x: hidden;
    }
    i.fas.fa-bars {
        float: right;
        margin-right: 18px;
        margin-top: 21px;
        display: block;
    }
    .notification-title {
        display: none;
    }
    .wrap .header ul.nav-ul li {
        margin-left: 30px;
        /* position: relative; */
    }
    .sidebar-nav {
        width: auto;
    }
    #sidebar-wrapper {
        position: relative;
        margin-top: 10px;
        display: none;
    }
    .content {
        padding-top: 84px;
        height: 0; 
        padding-right: 0;
    }
    .content .card {
        margin: 10px;
    }
    .last-added .section-added-info {
        height: auto;
    }
    .content .last-added {
        margin: 11px 0;
        margin-left: 0 !important;
        border-bottom: 18px solid #eff2fb;
    }
    .content .info-Subjects {
        border-bottom: 18px solid #eff2fb;
    }
    .content .right-head img {
        display: none;
    }

    /* #sidebar-wrapper {
        z-index: 1000;
        margin-top: 0px;
        position: relative;
        height: 100%;
         margin-right: 0; 
        text-align: right;
        overflow: hidden;
        background: #fff;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    } 
        .header {
        position: inherit;
        }
        .content {
             display: none;
        }
    */
    /* End Home */

}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    /* start login */
    .login {
        top: 42%;
     
    }
    /* End login */

    /* start Home */
    .sidebar-nav .sidebar-brand img {
        width: 95%;
        margin-right: 24px;
    }
    #sidebar-wrapper {
        width: 175px;
    }
    .sidebar-nav {
        width: 175px;
    }
    .sidebar-nav li a.active {
        padding-right: 9px;
        font-size: 14px;
    }
    .sidebar-nav li a {
        margin-right: 7px;
        font-size: 15px;
    }
    .content {
        padding-top: 79px;
        height: 100% !important;
        background-color: #EFF2FB;
        text-align: right;
        padding-right: 193px;
    }
    i.fas.fa-bars {
        display: none;
    }
    .content .card {
        margin-left: 10px;
    }

    .content .card p {
        font-size: 15px;
        margin-bottom: 3px;
    }
    .content .card h5 {
        margin-right: 0;
        font-size: 24px;
        margin: 10px 0;
    }
    .content .last-added {
        margin-left: 10px !important;
        border-radius: 14px;
        padding: 10px;
    }
    .content .last-added h4 {
        font-size: 17px !important;
    }
    .last-added .section-added-info {
        height: auto;
        padding: 8px;
        width: 100%;
    }
    .last-added .section-added-info p {
        display: inline;
        line-height: 1.8;
        font-size: 8px;
        font-weight: bolder;
    }
    .content .info-Subjects {
        padding: 7px;
    }
    .content .info-Subjects h5 {
        font-size: 33px;
    }
    .content .info-Subjects ul li p {
        font-size: 15px;
        margin-bottom: 2px;
    }
    .content .right-head img {
        display: none;
    }
    .content .right-head .Lecture-info-teacher p {
        font-size: 20px;
        font-size: 15px;
        display: inline-block;
    }
    .content .right-head .Lecture-info-date p {
        font-size: 13px;
        display: inline-block;
    }
    /* End Home */

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .login {
        overflow: hidden;
        text-align: center;
        position: absolute;
        left: 46%;
        top: 34%;
        margin-left: -335px;
        margin-top: -253px;
    }

      /* start Home */

      #sidebar-wrapper {
        width: 175px;
    }
    .sidebar-nav .sidebar-brand img {
        width: 95%;
        margin-right: 24px;
    }
    .sidebar-nav {
        width: 175px;
    }
    .sidebar-nav li a.active {
        padding-right: 9px;
        font-size: 14px;
    }
    .sidebar-nav li a {
        margin-right: 7px;
        font-size: 15px;
    }
    .content {
        padding-top: 79px;
        height: 100% !important;
        background-color: #EFF2FB;
        text-align: right;
        padding-right: 193px;
    }
    i.fas.fa-bars {
        display: none;
    }
    .content .card {
        margin-left: 10px;
    }

    .content .card p {
        font-size: 15px;
        margin-bottom: 3px;
    }
    .content .card h5 {
        margin-right: 0;
        font-size: 24px;
        margin: 10px 0;
    }
    .content .last-added {
        margin-left: 10px !important;
        border-radius: 14px;
        padding: 10px;
    }
    .content .last-added h4 {
        font-size: 17px !important;
    }
    .last-added .section-added-info {
        height: auto;
        padding: 8px;
        width: 100%;
    }
    .last-added .section-added-info p {
        display: inline;
        line-height: 1.8;
        font-size: 8px;
        font-weight: bolder;
    }
    .content .info-Subjects {
        padding: 7px;
    }
    .content .info-Subjects h5 {
        font-size: 33px;
    }
    .content .info-Subjects ul li p {
        font-size: 15px;
        margin-bottom: 2px;
    }
    .content .right-head img {
        display: none;
    }
    .content .right-head .Lecture-info-teacher p {
        font-size: 20px;
        font-size: 15px;
        display: inline-block;
    }
    .content .right-head .Lecture-info-date p {
        font-size: 13px;
        display: inline-block;
    }
    /* End Home */
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }


/*End responsive */